<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @chore.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @chore.body %>
</p>

<p>
  <strong>Day:</strong>
  <%= @chore.day %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @chore.tag %>
</p>

<%= link_to 'Edit', edit_chore_path(@chore) %> |
<%= link_to 'Back', chores_path %>
